extends layout-home

block content
    h1.bct-header Chain List 

    table.table.table-striped.table-bordered.table-hover.table-condensed#chain-list-table
        thead
            tr
                th Ip
                th Port
                th Chain Name
                th Address
                th Is granted
                th Action
        tbody
