extends layout-home

block content
    h1.bct-header Published Data List

    table.table.table-striped.table-bordered.table-hover.table-condensed#received-data-table
        thead
            tr
                th Sender ID
                th Stream Name
                th Key
                th Transaction ID (Header)
                th Action
        tbody
